#inputDesc {
  list-style: none;
}

.delete:hover,
.favorite:hover,
#inputBtn {
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  color: white;
  font-weight: 800;
  font-size: 2rem;
  padding: 2rem;
}
.addList {
  display: flex;
}

#input {
  font-size: 1.2rem;
  width: 40rem;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

#inputBtn {
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  width: 7rem;
  margin-top: 1rem;
}

ul {
  padding-left: 0;
  margin: 0;
}

.list {
  display: flex;
  height: 1.5rem;
  border: 1px solid lightgray;
  padding-left: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  margin: 0.3rem;
}

.item {
  margin-right: auto;
}

.icon {
  margin-left: auto;
}

#delete {
  color: red;
}

#favorite {
  color: orange;
}
